@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Space+Grotesk:wght@400;700&display=swap');

@import "tailwindcss";

/* CONFIGURATION DARK MODE */
body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #020617; /* Slate 950 (Très sombre) */
    color: #ffffff; /* Texte blanc par défaut */
    overflow-x: hidden;
}

h1, h2, h3, .font-black {
    font-family: 'Archivo Black', sans-serif;
    letter-spacing: -0.03em;
}

/* LE MOTIF "DARK GRID" */
.bg-grid {
    /* Taille des carreaux */
    background-size: 40px 40px;
    /* Lignes très subtiles (5% d'opacité) */
    background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);


}

/* Scrollbar personnalisée (plus jolie sur fond sombre) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #020617;
}
::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #475569;
}